Задача:


Сформувати склад з 11 футболістів. Склад потрібно вибрати таким чином щоб сума рейтингів гравців на тих позиціях, на які ми їх ставимо, була максимальною. Наприклад, якщо ми ставимо Messi, Lionel на позицію AML, а Silva, Bernardo - на позицію AMR, сумарний рейтинг буде 90.57%+94.34%.
Також є обмеження - в склад можна взяти тільки по одному гравцю кожної національності (у випадку подвійної національності береться перша) та по одному гравцю з кожного клубу.
Тобто всі 11 футболістів в складі мають бути різних національностей та з різних клубів.

In [ ]:
import pandas as pd
import numpy as np
import pulp as pl

In [88]:
df = pd.read_excel('Test_Task_FM24.xlsx', 
                   sheet_name='Fantasy_FM24',
                   engine='openpyxl')
df.head()

,Name,Nation,Position,Club,Age,GK Rating,DL Rating,DC Rating,DR Rating,DM Rating,ML Rating,MC Rating,MR Rating,AML Rating,AMC Rating,AMR Rating,FS Rating,TS Rating,Unique ID,Вибір
0,"Messi, Lionel",Аргентина / Испания,"AM RC, F C",Inter Miami,36,35.00%,61.74%,48.10%,61.74%,62.04%,88.56%,82.85%,88.56%,90.57%,94.58%,94.33%,95.50%,82.94%,7458500,0
1,"Kane, Harry",Англия / Ирландия,AM/F C,FC Bayern,29,36.26%,67.26%,61.59%,67.26%,68.75%,84.57%,87.90%,83.65%,91.50%,88.75%,90.35%,95.33%,93.39%,28049320,0
2,"Silva, Bernardo",Португалия,AM RC,Man City,28,39.88%,84.63%,55.18%,69.35%,67.79%,91.44%,90.01%,93.25%,91.44%,90.18%,94.34%,87.61%,78.43%,55041632,0
3,"Haaland, Erling",Норвегия / Англия,ST,Man City,22,36.12%,62.66%,61.13%,62.66%,63.73%,72.58%,66.75%,72.58%,72.58%,69.49%,72.58%,93.93%,93.62%,29179241,0
4,"Mbappe, Kylian",Франция,"AM RL, ST",Paris SG,24,33.84%,58.71%,46.13%,58.71%,58.15%,85.88%,63.98%,85.88%,89.74%,71.52%,88.71%,93.25%,81.43%,85139014,0

In [90]:
roles_dict = {
    'GK': 1,
    'DL': 1,
    'DC': 2,
    'DR': 1,
    'MC': 2,
    'AML': 1,
    'AMR': 1,
    'AMC': 1,
    'ST': 1
}

In [91]:
df['Nation'] = df['Nation'].str.split('/').str[0].str.strip()
df['Club'] = df['Club'].replace('-', pd.NA)

In [92]:
col_list = ['GK Rating', 'DL Rating', 'DC Rating', 'DR Rating', 'DM Rating', 'ML Rating', 'MC Rating', 'MR Rating', 'AML Rating', 'AMC Rating', 'AMR Rating', 'FS Rating', 'TS Rating']

for col in col_list:
    df[col] = df[col].str.rstrip('%').astype(float)

df.head()

,Name,Nation,Position,Club,Age,GK Rating,DL Rating,DC Rating,DR Rating,DM Rating,ML Rating,MC Rating,MR Rating,AML Rating,AMC Rating,AMR Rating,FS Rating,TS Rating,Unique ID,Вибір
0,"Messi, Lionel",Аргентина,"AM RC, F C",Inter Miami,36,35.00,61.74,48.10,61.74,62.04,88.56,82.85,88.56,90.57,94.58,94.33,95.50,82.94,7458500,0
1,"Kane, Harry",Англия,AM/F C,FC Bayern,29,36.26,67.26,61.59,67.26,68.75,84.57,87.90,83.65,91.50,88.75,90.35,95.33,93.39,28049320,0
2,"Silva, Bernardo",Португалия,AM RC,Man City,28,39.88,84.63,55.18,69.35,67.79,91.44,90.01,93.25,91.44,90.18,94.34,87.61,78.43,55041632,0
3,"Haaland, Erling",Норвегия,ST,Man City,22,36.12,62.66,61.13,62.66,63.73,72.58,66.75,72.58,72.58,69.49,72.58,93.93,93.62,29179241,0
4,"Mbappe, Kylian",Франция,"AM RL, ST",Paris SG,24,33.84,58.71,46.13,58.71,58.15,85.88,63.98,85.88,89.74,71.52,88.71,93.25,81.43,85139014,0

In [93]:
df['ST Rating'] = np.maximum(df['FS Rating'],df['TS Rating'])
df.head()

,Name,Nation,Position,Club,Age,GK Rating,DL Rating,DC Rating,DR Rating,DM Rating,...,MC Rating,MR Rating,AML Rating,AMC Rating,AMR Rating,FS Rating,TS Rating,Unique ID,Вибір,ST Rating
0,"Messi, Lionel",Аргентина,"AM RC, F C",Inter Miami,36,35.00,61.74,48.10,61.74,62.04,...,82.85,88.56,90.57,94.58,94.33,95.50,82.94,7458500,0,95.50
1,"Kane, Harry",Англия,AM/F C,FC Bayern,29,36.26,67.26,61.59,67.26,68.75,...,87.90,83.65,91.50,88.75,90.35,95.33,93.39,28049320,0,95.33
2,"Silva, Bernardo",Португалия,AM RC,Man City,28,39.88,84.63,55.18,69.35,67.79,...,90.01,93.25,91.44,90.18,94.34,87.61,78.43,55041632,0,87.61
3,"Haaland, Erling",Норвегия,ST,Man City,22,36.12,62.66,61.13,62.66,63.73,...,66.75,72.58,72.58,69.49,72.58,93.93,93.62,29179241,0,93.93
4,"Mbappe, Kylian",Франция,"AM RL, ST",Paris SG,24,33.84,58.71,46.13,58.71,58.15,...,63.98,85.88,89.74,71.52,88.71,93.25,81.43,85139014,0,93.25

In [94]:
rating_cols = [f"{role} Rating" for role in roles_dict]

id_vars = ['Unique ID', 'Name', 'Nation', 'Club']

df_melted = (df.melt(id_vars=id_vars,
                  value_vars=rating_cols,
                  var_name='role_col', value_name='rating')
            .assign(role=lambda x: x['role_col'].str.replace(' Rating', '', regex=False))
            .drop(columns='role_col'))
df_melted.head()

   Unique ID             Name      Nation         Club  rating role
0    7458500    Messi, Lionel   Аргентина  Inter Miami   35.00   GK
1   28049320      Kane, Harry      Англия    FC Bayern   36.26   GK
2   55041632  Silva, Bernardo  Португалия     Man City   39.88   GK
3   29179241  Haaland, Erling    Норвегия     Man City   36.12   GK
4   85139014   Mbappe, Kylian     Франция     Paris SG   33.84   GK

In [ ]:
prob = pl.LpProblem("Best11_MaxRating", pl.LpMaximize)

rows = list(df_melted.index)

x = {r: pl.LpVariable(f"x_{r}", lowBound=0, upBound=1, cat="Binary") for r in rows}

prob += pl.lpSum(df_melted.at[r, 'rating'] * x[r] for r in rows), "TotalRating"

# Додавання умов:
# 1. Ліміти по ролях
for role, cnt in roles_dict.items():
    role_rows = [r for r in rows if df_melted.at[r, 'role'] == role]
    prob += pl.lpSum(x[r] for r in role_rows) == cnt, f"Count_role_{role}"

# 2. Кожен гравець не більше 1 разу
for uid, idxs in df_melted.groupby('Unique ID').groups.items():
    prob += pl.lpSum(x[r] for r in idxs) <= 1, f"Uniq_player_{uid}"

# 3. Кожна нація не більше 1 гравця
for nat, idxs in df_melted.groupby('Nation').groups.items():
    prob += pl.lpSum(x[r] for r in idxs) <= 1, f"Uniq_nation_{nat}"

# 4. Кожен клуб не більше 1 гравця
for club, idxs in df_melted.groupby('Club', observed=True).groups.items():
    prob += pl.lpSum(x[r] for r in idxs) <= 1, f"Uniq_club_{club}"

status = prob.solve(pl.PULP_CBC_CMD(msg=True))  

print("Status:", pl.LpStatus[prob.status])

sel_rows = [r for r in rows if x[r].value() == 1]
solution = (df_melted.loc[sel_rows]
            .rename(columns={'rating':'Rating'})
            .sort_values(['role','Rating'], ascending=[True, False]))

print("\n=== Обраний склад ===")
print(solution.to_string(index=False))
print(f"\nСумарний рейтинг: {solution['Rating'].sum():.2f}")

Status: Optimal

=== Обраний склад ===
 Unique ID                  Name       Nation         Club  Rating role
   7458500         Messi, Lionel    Аргентина  Inter Miami   94.58  AMC
  92020288        Son, Heung-Min  Южная Корея    Tottenham   88.77  AML
  55041632       Silva, Bernardo   Португалия     Man City   94.34  AMR
  37024025      van Dijk, Virgil    Голландия    Liverpool   90.67   DC
  78085068        Araujo, Ronald      Уругвай    Barcelona   87.92   DC
  67197145      Hernandez, Lucas      Франция     Paris SG   87.62   DL
  43075156  Di Lorenzo, Giovanni       Италия   Parthenope   85.33   DR
  18026122     Courtois, Thibaut      Бельгия    R. Madrid   92.79   GK
  19297055       Bruno Guimaraes     Бразилия    Newcastle   88.81   MC
  53095137      Odegaard, Martin     Норвегия      Arsenal   88.64   MC
  28049320           Kane, Harry       Англия    FC Bayern   95.33   ST

Сумарний рейтинг: 994.80